apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ai-service
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/woragis/ai-service
    targetRevision: main
    path: deployment
  
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  
  revisionHistoryLimit: 10

